/* styles.css */
body {
    background-color: #242463;
}

.stButton button {
    background-color: #F3A122;
    color: white;
}

.stAlert {
    background-color: #000000;
    color: black;
}

/* Add more custom styles as needed */
