/* styles.css */
body {
    background-color: #242463;
}

.stButton button {
    background-color: #F3A122;
    color: white;
}

.stAlert {
    background-color: #000000;
    color: black;
}

/* Styles for titles */
.stMarkdown h1 {
    color: #333; /* Dark text color */
}

/* Styles for subtitles */
.stMarkdown h2 {
    color: #555; /* Slightly lighter text color */
}

